<div class="container form-container" id="add-intervention">
    <div class="card-content">
        <details>
            <summary class="btn green darken-4 right floating"><span> Add intervention</span></summary>
            <form action="/interventions/createIntervention" method="POST">
            <div class="input-field">
                <label for="title" class="form-label">Title</label>
                <input type="text" class="form-control" id="title" name="title">
            </div>
            <div class="input-field">
              <label for="source" class="form-label">Source</label>
              <input type="text" class="form-control" id="source" name="source">
          </div>
          <div class="input-field">
            <label for="targetArea" class="form-label">Target Area</label>
            <input type="text" id="targetArea" name="targetArea">
        </div>
            <button type="submit" class="btn green darken-4 space-below">Add Intervention</button>
          </form>
          </details>
    </div>
</div>