        <div class="container form-container" id="add-student">
            <div class="card-content">
                <details>
                    <summary class="teal btn right floating"><span> Add student</span></summary>
                    <form action="/students/createStudent" method="POST">
                    <div class="mb-3">
                        <label for="firstName" class="form-label">First Name</label>
                        <input type="text" class="form-control" id="firstName" name="firstName">
                    </div>
                    <div class="mb-3">
                      <label for="lastName" class="form-label">Last Name</label>
                      <input type="text" class="form-control" id="lastName" name="lastName">
                  </div>
                    <button type="submit" class="btn btn-teal space-below">Add Student</button>
                  </form>
                  </details>
            </div>
        </div>