<footer class="page-footer green darken-4">
    <div class="footer-container">
        <span><img src="/images/arrow_white.png" alt="logo of curved arrow pointing up and right" class="logo"/> InterventionDB</span>
        <span>&copy; Cindy Black</span>
            <!-- Add Feedback - Modal Trigger -->    
                <span data-target="modal_feedback" class="right">Provide feedback</span>
    </div>
            <!-- Modal Body -->
            <div id="modal_feedback" class="modal">
                <div class="modal-content">
                    <form action="/students/createFeedback" method="POST">
                                <div class="input-field col s12">
                                    <label for="comment" class="form-label">Your feedback</label>
                                    <textarea class="materialize-textarea" id="comment" name="comment"></textarea>
                                </div>
                                <button type="submit" class="btn green darken-4 space-below">Submit Feedback</button>
                    </form>
                </div>
            </div>
</footer>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="/js/main.js"></script>
</body>
</html>