<div class="card-content">
    <div class="overflow">
        <img src="/images/arrow.png" alt="logo of curved arrow pointing up and right" class="logo left"/><h3 class="left">InterventionDB</h3>
    </div>
        <p class="lead clear">K-12 intervention tracking made simple</p>
    </div>
</div>