<header>
    <nav class="grey darken-2">
        <span class="brand-logo"><img src="/images/arrow.png" alt="logo of curved arrow pointing up and right" class="logo"/> InterventionDB</span>
        <ul class="right">
            <li><a href="/dashboard">My Dashboard</a></li>
            <li><a href="/auth/logout">Logout</a></li>
        </ul>
    </nav>
</header>