<header>
    <nav class="grey darken-2">
        <span>Welcome, <%= user.displayName %></span>
        <ul class="right">
            <li><a href="/dashboard">Dashboard</a></li>
            <li><a href="/interventions">Interventions</a></li>
            <li><a href="/auth/logout">Logout</a></li>
        </ul>
    </nav>
</header>