<!DOCTYPE html>
<html lang="en">
  <%- include('partials/header') -%>
<body>
  <!-- Login Signup Buttons -->
  <nav class="green darken-4">
    <ul class="right">
      <li><a href="/login"> Login</a></li>
      <li><a href="/signup"> Signup</a></li>
    </ul>
  </nav>
  <!-- About -->
  <main class="container">
    <div class="row">
      <div class="s6 center">
        <%- include('partials/logo') -%>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col s12 m4">
        <div class="card medium">
          <div class="card-image">
            <img src="/images/undraw_data_processing_yrrv.png" alt="drawing of files on a conveyor belt"/>
          </div>
          <div class="card-content">
            <span class="card-title">Reduce Repetition</span>
            <p>Single, streamlined point of entry for students, interventions, and student intervention data.</p>
          </div>
        </div>
      </div>
      <div class="col s12 m4">
        <div class="card medium">
          <div class="card-image">
            <img src="/images/undraw_detailed_analysis_re_tk6j.png" alt="drawing of person looking at analysis diagram"/>
          </div>
          <div class="card-content">
            <span class="card-title">Maintain Records</span>
            <p>Intervention records follow the student - no more starting over just because it's a new grading period or school year.</p>
          </div>
        </div>
      </div>
      <div class="col s12 m4">
        <div class="card medium">
          <div class="card-image">
            <img src="/images/undraw_visual_data_re_mxxo.png" alt="drawing of bar graph"/>
          </div>
          <div class="card-content">
            <span class="card-title">One-Click Reporting</span>
          <p>Student and class views are built in and always available with a single button click.</p>
          </div>
        </div>
      </div>
    </div>  
  </main>
</body>
</html>