<%- include('partials/header') -%>

<main class="container">
    <div class="container login-container">
        <div class="card">
            <%- include('partials/logo') -%>
                    <div class="divider"></div>
                    <div class="section">
                        <a href="/login" class="btn btn-primary"> Login</a>
                        <a href="/signup" class="btn btn-primary"> Signup</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>