<%- include('partials/header') -%>

<div class="container login-container">
    <div class="card">
        <div class="card-content">
            <span class="brand-logo title"><img src="/images/arrow.png" alt="logo of curved arrow pointing up and right" class="logo"/>  InterventionDB</span>
            <div class="divider"></div>
            <div class="card-content">
                <p class="lead">K-12 intervention tracking made simple</p>
                <div class="section">
                    <a href="/auth/google" class="btn red darken-1">
                        <i class="fa-brands fa-google"></i> Login with Google
                    </a>
                </div>
            </div>
            </div>
            </div>
        </div>
    </div>
</div>