<!DOCTYPE html>
<html lang="en">
  <%- include('partials/header') -%>
<body>
  <main>
    <div class="container">
      <div class="form-container">
        <div class="card col s6 green darken-4 white-text">
          <div class="card-content">
              <div class="space-below">
                    <img src="/images/arrow_white.png" alt="logo of curved arrow pointing up and right" class="logo no-space-below"/>
                    <h4 class="space-below">Intervention DB</h4>
                    <div class="divider space-below"></div>
                    <p>K-12 intervention tracking made simple.</p>
                    <% if (locals.messages.errors) { %> <% messages.errors.forEach( el => { %>
                    <div class="alert alert-danger"><%= el.msg %></div>
                    <% }) %> <% } %> <% if (locals.messages.info) { %> 
                      <%messages.info.forEach( el => { %>
                      <div class="alert alert-info"><%= el.msg %></div>
                      <% }) %> <% } %>
              </div>
                <div class="white green-text text-darken-4">
                  <br>
 
                  <form action="/login" method="POST">
                    <div class="row">
                      <div class="col s6 offset-s3 input-field">
                        <i class="material-icons prefix green-text text-darken-4">alternate_email</i>
                        <input type="email" class="green-text text-darken-4" id="exampleInputEmail1" aria-describedby="emailHelp" name="email" placeholder="Email address" aria-label="email addres" required>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col s6 offset-s3 input-field">
                        <i class="material-icons prefix green-text text-darken-4">lock</i>
                        <input type="password" class="green-text text-darken-4" id="password" name="password" placeholder="Password" aria-label="password" required>
                      </div>
                    </div>
                    <button type="submit" class="btn green darken-4 waves-effect waves-light space-below">Submit</button>
                  </form>

                </div>
              </div> 
          </div>
        </div>
      </div>
    </div>
  </main>
</body>
</html>