<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('partials/header') -%>
</head>
<body>
  <%- include('partials/navbar') -%>
  <main class="container">
    <div class="fixed-action-btn click-to-toggle">
      <a class="btn-floating btn-large btn tooltipped green darken-4" data-tooltip="Menu">
        <i class="large material-icons">menu</i>
      </a>
      <ul>
        <!-- Edit Record - Modal 1 Trigger -->
        <li>
          <button data-target="modal1" class="btn-floating tooltipped light-green modal-trigger" data-tooltip="Edit Record">
            <span><i class="fa-solid fa-file-pen"></i> edit record</span>
          </button>
        </li>
        <li>
          delete record here
        </li>
      </ul>
    </div>

    
  </main>
  <%- include('partials/footer') -%>
  <script>
    document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.fixed-action-btn');
    M.FloatingActionButton.init(elems, {
        direction: 'left',
        hoverEnabled: false
    });
  });

  document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.tooltipped');
    M.Tooltip.init(elems, {
        position: 'top'
    });
  });
  </script>
</body>
</html>