<%- include('partials/header') -%>
<%- include('partials/navbar') -%>
<h1>Students</h1>
<div class="container">
    <a class="teal btn left" href="/students/add"><i class="fa-solid fa-plus"></i><span> Add student</span></a>
    <a class="teal btn left" href="/interventions/add"><i class="fa-solid fa-plus"></i><span> Add intervention</span></a>
</div>


<%- include('partials/footer') -%>