/* Layout */
.button-container {
  display: flex;
  align-items: top;
  justify-content: center;
  width: 40%;
}

.centered {
  text-align: center;
}

.clear {
  clear: both;
}

#edit-student {
  position: relative;
  bottom: 8vh;
  left: 4vw;
}

.footer-container {
  margin: 0 1vw 2vh 1vw;
}

.form-container, 
.login-container {
  margin-top: 8vh;
  text-align: center;
}

.is-hidden {
  display: none;
}

.login-container {
  width: 40%;
}

nav {
  padding: 0 1vw;
}

.overflow {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: auto;
}

.overflow h3 {
  padding-left: 0.5vw;
}

.space-below {
  margin-bottom: 2vh;
}

.td-margin {
  position: relative;
  bottom: 4vh;
}

.td-wrapper {
  margin: auto 0;
}

.top-right {
  position: relative;
  top: -18vh;
  right: -32vw;
}

/* Typography */
body {
    font-family: 'Mulish', sans-serif;
}

h1, h2, h3, .title {
    font-family: 'Lalezar', cursive;
    text-align: center;
}

table a {
  color: inherit;
}

.title {
  font-size: 5ch;
}

/* Images */
.logo {
  display: inline;
  max-width: 2.5vw;
}

footer .logo {
  width: 1vw;
}