/* Layout */
.footer-container {
  margin: 0 1vw 2vh 1vw;
}

.login-container {
  margin-top: 8vh;
  text-align: center;
  width: 25%;
}

/* Typography */
body {
    font-family: 'Mulish', sans-serif;
}

h1, h2, h3, .title {
    font-family: 'Lalezar', cursive;
    text-align: center;
}

.title {
  font-size: 5ch;
}

/* Images */
.logo {
  display: inline;
  max-width: 8%;
}