/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/** Typography **/
body {
    font-family: 'Mulish', sans-serif;
}

h1{
    font-family: 'Lalezar', cursive;
    text-align: center;
}