<h3>Add Student</h3>
    <div class="row">
        <form action="/students" method="POST" class="col s12">
            <div class="row">
                <div class="input-field">
                    <input type="text" id="firstName" name="firstName">
                    <label for="firstName">First Name</label>
                </div>
            </div>

            <div class="row">
                <div class="input-field">
                    <input type="text" id="lastName" name="lastName">
                    <label for="lastName">Last Name</label>
                </div>
            </div>

        <div class="row">
            <input type="submit" value="Save" class="btn">
            <a href="/dashboard" class="btn orange">Cancel</a>
        </div>
    </form>
</div>