<%- include('../partials/header') -%>
<%- include('../partials/navbar') -%>
<h3>Add Intervention</h3>
<div class="row">
    <form action="/interventions" method="POST" class="col s12">
        <div class="row">
            <div class="input-field">
                <input type="text" id="title" name="title" required>
                <label for="title">Title</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field">
                <input type="text" id="source" name="source">
                <label for="source">Source</label>
            </div>
        </div>

        <div class="input-field">
            <input type="text" id="targetArea" name="targetArea">
            <label for="targetArea">Target Area</label>
        </div>
    </div>

        <div class="row">
            <div class="input-field">
                <select id="status" name="status">
                    <option value="public" selected>Public</option>
                    <option value="private">Private</option>
                </select>
                <label for="status">Status</label>
            </div>
        </div>

        <div class="row">
            <input type="submit" value="Save" class="btn">
            <a href="/dashboard" class="btn orange">Cancel</a>
        </div>
    </form>
</div>
<%- include('../partials/footer') -%>